<div>
    <div class="row">
        <div class="activity-feed col-sm-6">
            <div class="table-list" ng-hide="noUsers" style="padding-top: 10px; margin: 20px; border: 3px solid; background-color: silver; height: 300px; overflow-y: scroll; overflow-x:hidden">
                <div class="row">
                    <div class="table-header">
                        <span class="table-header-label col-sm-12" style="font-size: 45px; color:black">Activity Feed</span>
                    </div>
                </div>
                <div class="row">
                    <div class="table-items" style="text-align: center">
                        <div class="row table-item clickable-bubble" ng-repeat="activity in activities | orderBy:'StartDate':true | limitTo:numActivitiesDisplay" style="margin-left: 20px; margin-right: 20px; cursor:default">
                            <span style="font-size: 12px">
                                {{activity.FormattedType}} a distance of {{activity.Distance}} feet in {{activity.FormattedDuration}} on {{activity.StartDate.format("MMMM DD, YYYY")}}
                            </span>
                        </div>
                        <button ng-click="showAllActivities()" ng-hide="displayAllActivities">Show all Activities</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 calorie-intake">
            <div id="CalorieContainer" style="margin: 20px; height: 300px"></div>
        </div>
    </div>
    <div class="row">
        <!--<div class="col-sm-4 badge-list">
            <div class="badge-item" ng-repeat="badge in userBadges | limitTo: 3">
                {{badge.badgeName}}
            </div>
        </div>-->
        <div class="col-sm-4 activity-steps-graph">
            <div id="ActivityStepsContainer" style="margin: 20px; height: 250px"></div>
            <span style="margin-left: 20px">Tomorrow's expected steps: {{steps7DaySMA}}</span>
        </div>
        <div class="col-sm-4 activity-distance-graph">
            <div id="ActivityDistanceContainer" style="margin: 20px; height: 250px"></div>
            <span style="margin-left: 20px">Tomorrow's expected distance travelled: {{distance7DaySMA}}</span>
        </div>
        <div class="col-sm-4 activity-duration-graph">
            <div id="ActivityDurationContainer" style="margin: 20px; height: 250px"></div>
            <span style="margin-left: 20px">Tomorrow's expected activity time: {{duration7DaySMA}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 activity-breakdwon-chart">
            <div id="activityTypePieChartContainer" style="margin: 20px; height: 300px"></div>
        </div>
    </div>

</div>