<b>Hi it's working</b>
<div>
    <input type="text" class="form-control" ng-model="name" name="name" />
    <button class="btn btn-default" ng-click="searchTeams(name)">Search Teams</button>

    <table>
        <tr>
            <th>Team Name</th>
            <th>Team Description</th>
            <th>Created</th>
        </tr>
        <tr ng-repeat="team in teams">
            <td>
                {{team.ID}}
            </td>
            <td>
                {{team.Description}}
            </td>
            <td>
                {{team.DateCreated}}
            </td>
        </tr>
    </table>
</div>