<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raik383h_group_6.healthtracmobile" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.raik383h_group_6.healthtracmobile.LoginPromptActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.raik383h_group_6.healthtracmobile.TwitterLoginWebViewActivity"
            android:label="@string/title_activity_login_web_view_twitter" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raik383h_group_6.healthtracmobile.LoginPromptActivity" />
        </activity>
        <activity
            android:name="com.raik383h_group_6.healthtracmobile.FacebookLoginWebViewActivity"
            android:label="@string/title_activity_login_web_view_facebook" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raik383h_group_6.healthtracmobile.LoginPromptActivity" />
        </activity>
        <activity
            android:name="com.raik383h_group_6.healthtracmobile.AuthenticationActivity"
            android:label="@string/title_activity_authentication" >
        </activity>
    </application>

</manifest>
